@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  font-family: "Open Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.copy-popup {
  animation: disappear 2s ease forwards;
}
@keyframes disappear {
  0% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
